@charset "UTF-8";
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: rgb(255, 255, 255);
    width:100vw;
    height:100vh;
}
header{
    background-color: rgb(252, 213, 219);
    color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}
header > nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
header> nav> a{
    background-color: rgb(34, 33, 32);
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}
header> nav> a:hover{
    background-color: white;
    color: lightpink;
    transition: background-color 1s;

}
main{
    background-color: rgb(190, 232, 243);
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}