.container{
    display: flex;
    height: 100vh;
     justify-content:space-between;
    align-items:flex-start;
    flex-flow:wrap;
}
.teste{
    width: 100px;
    height:100px;
    background-color: pink;
    border: 1px solid rgb(219, 108, 151);
}
div{
    transition: widht 1s height 2s;
    width: 100px;
    height: 100px;
    background-color:palevioletred;
    font-family: cursive;
    color: rgb(223, 58, 140);

}
div:hover{
    width:200px;
    height:200px;
}
h1{
    margin-bottom: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(243, 197, 204);
 }
 

.teste2{
    flex-basis:200px;

}